body{
	width:100%;
	margin:0px;
	font-family:arial;
}

.container{
	margin-left:100px;
	margin-right:100px;
}

header{
	width:100%;
	background-color:black;
	color:lightgrey;
	display:inline-block;
	padding:20px;
}

.nav-title{
	margin:0px;
	float:left;
}

header form{
	margin:0px;
	float:right;
	line-height:24px;
	
}


button{
	background-color:green;
	color:white;
	padding:6px;
	border:0px;
	border-radius:5px;
}

button:hover{
	background-color:lightgreen;
	cursor:pointer;
	color:black;
}

input{
	padding:5px;
}
	
aside{
	padding:20px;
	width:40%;
	display:inline-block;
}

ul{
	padding-left:0px;
}

ul li{
	list-style-type:none;
	padding:10px;
	border:solid 1px lightgrey;
	width:20%;
	margin-bottom:5px;
	text-align:center;
	border-radius:5px;
}

main{
	width:55%;
	border-left:solid 1px lightgrey;
	text-align:justify;
	float:right;
	padding-left:25px;
}
